<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cesartomatis.xamarin.cardviewsample">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23"/>
	<application android:theme="@android:style/Theme.Material.Light"></application>
</manifest>